/* YeyeYeee código aquí */
body{
	font-family: 'Roboto', sans-serif;
	height: 100%;
	background-color: #454244;

}
.logo-registro{
	text-align: center;
}

.logo-imagen img{
	width: 35%;
	height: auto;
}
.texto-inicio h1{
	font-weight: bold;
	font-size: 40px;
	color: #DE9900;
}
.formulario-inicio{
	text-align: center;
	
}
.form-inicio{
	text-align: center;
}
.form-inicio input, .form-inicio button{
	width: 80%;
	height: 50px;
	margin: auto;
	display: block;
}
.invalido{
	display: none;
	color: white;
}
#btn-inicio{
	background-color: #DE9900;
	color: #454244;
}
.recuperar-pass{
	color: white;
}
.registrate{
	color: white;
}
.registrate a{
	color: #DE9900;
}